* { 
    text-decoration: none;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  } 
  .nav{
    display: flex;
    justify-content: space-between;
  }
  .menu{
    width: 30px;
    display: none;
  }
.save{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  width: 80px;
  height: 17px;
  left: 600px;
  top: 200px;
  background: #81C43B;
  border-radius: 100px;
}
.acc{
  width: 210px;
  height: 30px;
  left: 650px;
  top: 190px;

  background: #F2F9EB;
  border-radius: 0px 100px 100px 0px;
}
  .container { 
    margin: 30px 100px; 
  } 
  
  .navbar { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .links {
    justify-content: space-around;
    max-width: 500px;
    width: 100%;
    padding-left: 50px;
    font-family: 'Inter', sans-serif;
  }
   
  .section-1 { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  } 
   
  .manage { 
    width: 760px;
    height: 144px;
    top: 200px;
    color: #35414b;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Inter';
  } 
   
  .paragraph { 
    text-align: center;
    width: 400px;
    margin: 13px 0;
  } 
   
  .overview { 
    width: 80%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 50px;
  }
  #trusted{
    margin-top: 20px;
  }
  
  .btn{
    width: 150px;
    height: 50px;
    left: 1100px;
    top: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    margin-left: 20px;
    align-items: center;
    color: #794CFF;
    background-color: #ECE6FF;
    border-radius: 4px;
    border: 0cm;
  }

  .links {
    display: flex;
    color: black;
}

.links img {
  width: 100px;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    border: 0cm;  
}
#button{
  text-align: center   ;
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  background-color: #794CFF;
  border-radius: 0 4px 4px 0;
  border: 0cm;
}
#gmail{
  border: 0 4px 4px 0;
  border-color: #97A5B5;
}
.container-ph{
  display: flex;
  width: 100%;
}
.inner-image {
  width: 100%;
}
.inner-image img {
  width: 100%;
}
.inner-survey1 {
  border-right-color: #FBFAFE;
  width: 600px;
}
.survey1 {
  width: 100%;
  font-weight: 300;
  height: 120px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 0 4px 4px 0;
}
.survey1:hover {
  box-sizing: border-box;
  background: #f6f3fc;
  border: 5px solid #f6f3fc;
  background: #f6f3fc;
  border-left: 5px solid #794CFF;
}
#group {
  margin-top: 200px;
}
.icons{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.reports-big-title{
  text-align: center;
}
.reports {
  width: 100%;
  display: flex;
}
.upper-report {
  margin-top: 50px;
  padding: 0 50px;
}
.report1-back {
  background: url("../img/Ellipse\ 2.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
}
.container2 {
  display: flex;
  flex-direction: column;
}
.lower-report {
  margin-top: 50px;
  padding: 0 50px;
}
#paragraph2 {
  width: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4E5A65;
}
#get2 {
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  background-color: #794CFF;
  border-radius: 0 4px 4px 0;
  border: 0cm;  
}
.slide{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ECE6FF;
}
.texts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px ;
  justify-content: space-around;
}
.group26 {
  margin-top: 30px;
  width: 50%;
}
#paragraph3 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.last {
  margin-top: 50px;
  text-align: center;
}
.ellipses {
  margin-top: 15px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: space-around;
}
.ellipse {
  display: flex;
}
.button2 {
  display: flex;
  align-items: center;
  width: 1100px;
  height: 220px;
  margin-left: 165px;
  margin-right: 165px;
  background-color: #796eff;
  border-radius: 16px;
}

.trust_platforms {
  border-radius: 16px;
  text-align: center ;
  background: #796EFF;
  height: 220px;
}

.trust {
  width: 50%;
  font-size: 30px;
  line-height: 40px;
  color: #FBFAFE;
  margin: auto;
}
.platforms {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 53px;
  margin: auto 0;
}
.platform {
  margin-right: 20px;
}
.emp {
  width: 400px;
  text-align: center;
  align-items: center;
}
.footer__mobile {
  display: none;
}
footer {
  width: 100%;
  background: url('../img/Rectangle\ 34.png');
  padding: 30px 0;
}
.footer_container {
  display: flex;
  justify-content: space-between;
}
.column {
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}
@media all and (max-width:1700px){
  /* .manage{
    font-size: 25px;
  }
  .paragraph{
    font-size: 13px;
    width: 280px;
  } */
}
@media all and (max-width:1400px){
  .menu{
    display: none;
  }
}
@media all and (max-width:1300px){
  .icons{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  
  }
  #paragraph2{
    font-size: 12.5px;
    line-height: 19px;
    width: 400px;
  }
}
@media all and (max-width: 1200px){
  .manage{
    display: flex;
    justify-content: center;
    font-size: 21px;
    width: 500px;
  }
  .links , .btns{
    display: none;
  }
  .menu{
    display: flex;
    width: 100px;
    margin-right: 100px;
  }
  .slide{
    display: flex;
    flex-wrap: wrap;

  }
  .emp {
    display: block;
  }
}
@media all and (max-width: 1100px){
  header {
    display: flex;
    justify-content: center;
  }
  .overview{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-ph{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .emp{
    font-size: 23px;
  }
  .group26{
    width: 1000px;
  }
  .column-pic{
    display: none;
  }
  #gmail{
    border-radius: 4px;
  }
  .reports{
    display: flex;
    flex-direction: column;
  }
.columns2{
  display: none;
}
}
@media all and (max-width:  1030px){
  .platform{
    display: none;  
  }
  .get1{
    background-color: #F2F9EB;
    border-radius: 5px ;
  }
  .save {
    display: none;
  }
  .group26{
    width: 100%;  
  }
  .ellipse6 {
    display: none;
  }
  .ellipse7 {
    display: none;
  }
  #paragraph3{
    width: 400px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }
  #custom{
    display: flex;
    text-align: center;
  }
  .emp{
    font-size: 26px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .platforms{
    display: none;
  }
}
@media all and (max-width:800px){
  header{
    align-items: center;
    margin: 10px 20px;
  }
  #trusted{
    font-size: 15px;
  } 
  .inner-image{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .input{
    display: block;
  }
  #gmail{
    height: 35px;
  }
  #button{
    margin-top: 5px;
    height: 30px;
    width:  220px;
  }
  #paragraph3{
    width: 300px;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    text-align: center;
  }
  .footer_container {
    display: none;
  }
  .footer__mobile {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .footer__mobile button {
    width: 200px;
    height: 65px;
    background-color: #1d2830;
    color: white;
    font-size: 18px;
    border: none;
  }
  .footer_container{
    height: 500px;
  }
  .footer__mobile-img{
    display: flex;
    flex-direction: column;
  width: 200px;
  }
  .emp{
    font-size: 23px;
    font-weight: 300;
    width: 200px;
  }
  .google{
    width: 50px;
    height: 25px;
  }
}
@media all and(max-width:500px){
  .icons {
    display: flex;
    flex-wrap: wrap;
  }
  .icons img{
    width: 50px;
  }
  .inner-survey1{
    width: 500px;
  }
}
@media all and (max-width:400px){
  .inner-survey1{
    width: 400px;
  }
}
@media all and (max-width:450px){

}
@media all and (max-width:320px){
  .manage{
    font-size: 13px;
    width: 250px;
    display: flex;
    justify-content: center;
  }
  .input{
    display: block;
    justify-content: center;
  }
  #gmail{
    display: flex;
    justify-content: center;
    left: 100px;
  }
  #button{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    height: 30px;
    width:  220px;
    left: 100px;
  }
  .paragraph{
    font-size: 11px;
    margin-top: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 300px;
  }
  .overview{
    width: 100%;
  }
  #trusted{
    display: flex;
    text-align: center;
    font-size: 13px;
  }
  .inner-image{
    width: 100%;
    display: flex;
    justify-content: center; 
   }
  .inner-survey1{
    width: 300px;
  }
  .trust_platforms {
    border-radius: 16px;
    text-align: center ;
    height: 190px;
    width: 400px;
  }
  .report1-text{
    width: 100px;
  }
  .trust_platforms{
    width: 100%;
  }
  #paragraph2{
  display: none;
  }
  #paragraph3{
    width: 300px;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    text-align: center;
  }
}